apiVersion: v1
kind: Secret

metadata:
  name: assemblemonitor-secret
  namespace: assemblemonitor

type: Opaque

stringData:
  DATABASE_URL: CHANGE_ME
  JWT_SECRET_KEY: CHANGE_ME
  AWS_ACCESS_KEY_ID: CHANGE_ME
  AWS_SECRET_ACCESS_KEY: CHANGE_ME