[defaults]
# Specifies the default location for the inventory file, which contains the list of servers Ansible manages.
inventory = ./inventory/hosts.ini
# Disables prompt for confirming new SSH host keys (useful for automation, but less secure).
host_key_checking = False
# The default user Ansible will use to SSH into the remote servers.
remote_user = ubuntu
# The path to the SSH private key used to authenticate with the remote servers.
private_key_file = /home/ubuntu/AM-Key.pem
# Disables creation of .retry files when a playbook fails.
retry_files_enabled = False
